body {
    margin: 0;
    padding-top:10px;
    paddint-bottom:10px;
    height: 100%;
    background-image: url(../images/cosmos.jpg);
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%;

    color: white;
    text-align: left;
    font-style: Verdana;
    padding-bottom: 20px;
    
}
*{
    margin:4px;
}
select {
    width: 300px;
}
a{    
    margin-left:40%;
}
.greeting {
    text-align: center;

}
#button{
    margin-left:40%;
}
.element{
    padding-left:40%;
}
li {
    float: left;
    padding:20px;
}


input[type="submit"] {
    font-style: Verdana;
    font-size:18px;
}
select {
    font-style: Verdana;
    font-size:18px;
}
