<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'quazar/styles/style.css' %}">
    <title>
    {% block title %}
        Quazar Index
    {% endblock %}
    </title>
</head>
<body link="yellow" vlink="yellow" alink="yellow">
    {% block content %}
        <p>Greetings!</p>
        <p>If you dont know what gift to choose, then you are on the right place </p>
        <p><a href="main/">Choose a gift</a></p>
    {% endblock %}
</body>
</html>
