{% extends 'quazar/index.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <form action='{% url 'results' %}' method="post" >
        {% csrf_token %}
        <table>
            {{form|crispy}}
            {% for field in form %}

                <!-- <p>{{field.label}}</p>
                <p>{{field}}</p> -->

            {% endfor %}

        </table>
        <input  type="submit" name="" value="Отримати список подарунків">
    </form>
{% endblock %}
