{% extends 'quazar/index.html' %}
{% block title %}
    Quazar Result
{% endblock %}
{% block content %}
    {% for name, link in results.items %}
    <p><a href="{{link}}">{{name}}</a></p>
    {% endfor %}
{% endblock %}
