<!DOCTYPE html>
{% load staticfiles %}
{% load crispy_forms_tags %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'quazar/styles/style.css' %}">
  <title>
    {% block title %}
    Quazar Index
    {% endblock %}
  </title>
</head>

<body link="yellow" vlink="yellow" alink="yellow">
  {% block content %}
  <!-- <p>Greetings!</p>
        <p>If you dont know what gift to choose, then you are on the right place </p>
        <p><a href="main/">Choose a gift</a></p> -->
  <form id="form" method="POST">
    {% csrf_token %}
    {{form|crispy}}
    <input id="button" type="submit" value="Отримати список подарунків">
  </form>
  <div id="results">

  </div>
  {% endblock %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script>
    $("#button").click(function (e) {
      e.preventDefault()
      $.ajax({
        // type: "GET",
        // data: "param1=value1&param2=value2;",
        url: "/",
        type: "POST",
        async: true,
        data: $('#form').serialize(),
        success: function (data) {
          $("#form").remove()
          for (var key in data['results']) {
            link = data['results'][key]
            console.log(link)
            $("#results").append(
              `
              <p><a href=${link}> 
                ${key}
              </a></p>
              `
            );
          }
        }
      });
    })
  </script>
</body>

</html>