<!DOCTYPE html>
{% load staticfiles %}
{% load crispy_forms_tags %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'quazar/styles/style.css' %}">
  <title>Quazar Index</title>
</head>
<body link="yellow" vlink="yellow" alink="yellow">

<!-- <div class="greeting">
  <form id="greeting_form" type="GET">
    <p>Greetings!</p>
    <p>If you dont know what gift to choose, then you are on the right place </p>
    <button id="main">Choose a gift</button>
  </form>
</div> -->

  <form id="form" method="POST">
    {% csrf_token %}
    <div class="element">
      <p>{{form|crispy}}</p>
    </div>
    <input id="button" type="submit" value="Отримати список подарунків">
  </form>


  <div id="results">
  </div>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script>
    $("#button").click(function (e) {
      e.preventDefault()
      $.ajax({
        // type: "GET",
        // data: "param1=value1&param2=value2;",
        url: "/",
        type: "POST",
        async: true,
        data: $('#form').serialize(),
        success: function (data) {
          $("#form").remove()
          i = 0
          for (var key in data['results']) {
            link = data['results'][key]
            i = i+1
            console.log(i)
            $("#results").append(
              `
              <p><a href=${link}> 
                ${key}
              </a></p>
              `
            );
          }
        }
      });
    })
    $("#main").click(function (e) {
      e.preventDefault()
      $.ajax({
        // type: "GET",
        // data: "param1=value1&param2=value2;",
        url: "/",
        type: "GEt",
        async: true,
        data: $('#greeting_form').serialize(),
        success: function (data) {
          $("#greeting_form").remove()
          
        }
      });
    })
  </script>
</body>
</html>